<% if (page.total > 1){ %>
  <nav class="page-nav">
    <%- paginator({
      prev_text: "&laquo; 前番",
      show_all:true,
      next_text: "后番 &raquo;"
    }) %>
  </nav>
  <div id="busuanzi_container_page_pv"  class="pvcount">Total <span class="pvnumber" id="busuanzi_value_site_pv"></span> views</div>
<% } %>